.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.aboutus {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.left,
.right {
  flex: 1;
}

.image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.right {
  padding: 20px;
  text-align: left;
}

.left {
  padding: 20px;
  text-align: right;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.btn {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: #0056b3;
}

/* Media query for responsiveness */
@media screen and (max-width: 600px) {
  .aboutus {
    flex-direction: column;
    align-items: center;
  }

  .left,
  .right {
    text-align: center;
  }
}
