*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    padding: .5rem 3rem ;
    background: rgb(0, 119, 128);
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 99;
}
.logo{
    background-color: rgb(255, 217, 0);
    padding: .5rem;
    border-radius: .5rem;
    font-size: .7rem;
    font-weight: 700;
}
.logo h1{
    color:rgb(242, 8, 8)
}

.item{
    text-decoration: none;
    color: #fff;
    margin-right: 1.4rem;
    font-size:1.2rem ;
}
.item span{
    background-color: rgb(255, 217, 0);
    padding: .2rem;
    font-weight: 800;
    color:black;
    font-size: 1rem;
    border-radius: 50%;
    position: relative;
    bottom: .5rem;
}

.btn {
    border: 3px solid rgb(255, 196, 0);
    padding: .8rem;
    background-color: transparent;
    border-radius: 1.5rem;
    color: rgb(255, 196, 0);
    text-decoration: none;
    font-size: 1.2rem;
}
.btn:hover{
    border: 3px solid #fff;
    background-color: transparent;
    color:#fff;
}
